@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Playfair+Display&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

h1,h2,h3{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	font-weight: bold;
}

body{
	font-family:'Playfair Display', serif;
	font-size: 20px;
}



a{
	 text-decoration: none;
}
div{padding: 80px;
	border-radius: 15px;
	margin: 50px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);

}
body{
  color: rgb(0,0,0);
  background-color: #f2eee5;
  font-size: 20px;

